section {
    text-align: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.cageAnswer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
